.credential-container {
    width: auto;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,255,0.2);

    .display-name{
        color: black;
    }

}

